*{
    margin: 0;
    padding: 0;
}
header{
    background-color:  #1358c8;
    color: white;
    font-size:25px;
    displey:flex;
    justify-content:space-between;
}
.cabecalho-lista{
    displey:flex;
    justify-content:space-between;
    flex-wpar:wrap;
}
.cabecalho-lita-item{
    displey: inlaine;
    justify-content: space-between;
    padding: 20px;
}
.cabecalho{
    background-color: rgb(25, 140, 155)
    color:  black;
    display; flex;
    padding: 24px;
    justyfi-conter:  space-between;
}
cabecalho-imagem{
    width: 5%;
    height: 5%;
}
.cabecalho-imagem{
    width: 15%;
}
.cabecalho-item{
    display: inline-block;
    font-size: 30px;
    padding: 0 0 0 20px;
}
*{
    margin: 0;
    padding: 0;
}
.escola-escola{
    width: 25%;
}
.escola{
    background-image:linear-gradint(#424E61, #16CFF8);
    color: white;
    displey: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}
.escola-div-conteudo{
    width: 35%;
}
.escola-titulo{
    padding: 24px 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
.estudante-imagem{
    width: 120px;
    margin: auto;
}
.estudante-div{
    text-align: center;
    padding: 16px 0;
}
.estudante-todos{
    display; grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}
.estudante-titulo{
    text-aling: center;
    padding: 24px 0;
}
.rodape{
    background-color: #162d51;
    text-align: center;
}
.rodape-imagem{
    height: 60px;
    padding: 12px 0;
}
.alunos-todos{
    text-align: center;
    font-size: 30px;
    max-width: 90%;
    max-height: 90%;
    margin: auto;
}
